.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  background-color: #101823;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer {
  padding: 10px;
  margin-top: auto;
  background-color: lightslategrey;
  text-align: center;
}
